$main-blue-dark: #404c54;
$main-blue: #608d98;
$main-blue-light: #9eb9ca;
$main-gray-light: gray;
$main-white-text: white;
$main-black-text: black;

$back-white: white;
$back-gray-dark: #EBEBEB;
$back-gray-light: #F2F2F2;
$back-blue: #608D98;
$back-buttons: #404c54;

$border-tables: #DEE2E6;
$border-blue: #608D98;

$sections-background-blue: #596670;
$overlay-background: rgba(0,0,0, .5);
